$activeButtonColor: rgba(0, 0, 0, .2);
$buttonBorder: 1px solid $activeButtonColor;
$fontFamily: sans-serif;
$noChromeFieldHeight: calc(100vh - 3.5em);

// Use smaller height on-fullscreen mobile browsers,
// see https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html
$chromeFieldHeight: calc(100vh - 9em);

body {
    background-color: #a1a1a1;
}

.width-as-field {
    width: calc(#{$noChromeFieldHeight} / 3 * 2);
}

.height-as-field {
    height: $noChromeFieldHeight;
}

@media not all and (hover: hover) {
    html:not(:fullscreen) .width-as-field {
        width: calc(#{$chromeFieldHeight} / 3 * 2);
    }

    html:not(:fullscreen) .height-as-field {
        height: $chromeFieldHeight;
    }
}

.my-button-group {
    display: inline-block;
    margin-right: .5em;
}

button.my-button {
    margin: 0;
    background-color: rgba(0, 0, 0, .05);
    border: $buttonBorder;
    cursor: pointer;
}

.my-button-group button {
    border-left: none;
}

.my-button-group *:first-child > button.my-button {
    border-left: $buttonBorder;
}

button.my-toggle-active {
    background-color: $activeButtonColor;
    cursor: unset;
}

.my-text {
    font-family: $fontFamily;
}

.my-small-text {
    font-family: $fontFamily;
    font-size: .7em;
    opacity: .5;
}

button.emoji {
    color: transparent;
    text-shadow: 0 0 0 rgba(0, 0, 0, .6);
}

.computer-only {
    display: none;
}

@media (hover) {
    .computer-only {
        display: unset;
    }
}
