$activeButtonColor: rgba(0, 0, 0, .2);
$buttonBorder: 1px solid $activeButtonColor;
$fontFamily: sans-serif;

body {
    background-color: #a1a1a1;
}

.my-button-group {
    display: inline-block;
    margin-right: .5em;
}

button.my-button {
    background-color: rgba(0, 0, 0, .05);
    border: $buttonBorder;
    border-left: none;
    cursor: pointer;
}

*:first-child > button.my-button {
    border-left: $buttonBorder;
}

button.my-toggle-active {
    background-color: $activeButtonColor;
    cursor: unset;
}

.my-text {
    font-family: $fontFamily;
}

.my-small-text {
    font-family: $fontFamily;
    font-size: .7em;
    opacity: .5;
}

.width-as-field {
    width: calc((100vh - 4em) / 3 * 2);
}

.height-as-field {
    height: calc(100vh - 4em);
}

button.emoji {
    color: transparent;
    text-shadow: 0 0 0 rgba(0, 0, 0, .6);
}

.computer-only {
    display: none;
}

@media (hover) {
    .computer-only {
        display: unset;
    }
}
